* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.heading{
    text-align: center;
    display: block;
}
.logo{
    width: 150px;
    height: 150px;
    position:absolute;
    margin-top: 20px;
    top: 5;
    border: 1.5px solid black;
    margin-left: 55px;
}
.title1{
    width: 800px;
    padding-top: 10px;
    margin-right: 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
body {
    width: 70%;
    height: 100vh;

    background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

table{
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    transition: all 0.3s ease;
    border: 1px solid black;
    padding: 15px;
}
td{
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgba(95, 197, 208, 0.21);
}

tr:nth-child(odd) {
    background-color: rgba(55, 131, 138, 0.17);
}

thead {
    background-color: rgba(255, 255, 255, 0.31);
    
    font-style: oblique;
    font-weight: bolder;
}

tr:hover {
    background-color: white;
    transform: scale(1.1);
}

tr:hover svg {
    opacity: 1;
    transform: scale(1.2);
}
#myInput {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 700px; 
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 0px; 
  }

  h2,input{
      margin-top: 25px;
  }
 .bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  .bgimg{
      background-image: url('GDSC.png');
      width: 1200px;
  }